<!--
! ============================================
! Title: grooming.html
! Author: Patrick Wolff
! Date: 19 June 2022
! Modified By: Patrick Wolff
! Description: grooming page for
! the Pets-R-Us website.
! ===========================================
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pets-R-Us: Grooming</title>
    <link href="/Users/pat/Desktop/buwebdev/web-340/pets-r-us/public/styles/global.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>

<body>

    <div class="top-container">
        <!-- Top navigation -->
        <div class="topnav">
        
            <!-- Centered link -->
            <div class="topnav-centered">
              <a href="#login">Login</a>
            </div>
          
           <!-- Left-aligned links (default) -->
            <a href="/Users/pat/Desktop/buwebdev/web-340/pets-r-us/views/index.html">Home</a>
            <a href="#boarding">Boarding</a>
            <a href="/Users/pat/Desktop/buwebdev/web-340/pets-r-us/views/grooming.html" class="active">Grooming</a>
            <a href="#training">Training</a>
          
            <!-- Right-aligned links -->
            <div class="topnav-right">
              <a href="#appointment">Book Appointment</a>
              <a href="#registration">Registration</a>
            </div>
          
        </div>
    </div>
<hr>

<h2>Grooming</h2>

<div class="container">
    <div class="card-row">
        <div class="card-column">
            <h3>Full Groom - $55 & up</h3>
            <p>Service includes Hair cut with scissor finish
                bath, nail trim, ear cleaning, teeth brushing
                anal gland expression, hand blow dry and brush.
            </p>
        </div>
        <div class="card-column">
            <h3>Nail Trimming - $15</h3>
            <p>Walk-ins welcome. No appointment needed.</p>
        </div>
    </div>
    <div class="card-row">
        <div class="card-column">
            <h3>Just a Bath - $30</h3>
            <p>Service includes a warm water bath, warm air blow dry,
                anal glands expressed, nail trim, ears cleaned out,
                and a brush out.
            </p>
        </div>
        <div class="card-column">
            <h3>Premium Groom - $65 & up</h3>
            <p>Includes everything in the full groom with additional scissoring, 
                brushing, clipper work and specialty shampoos and/or dematting.
            </p>
        </div>
    </div>
</div>



</body>